<launch>
  <!-- Arguments -->
  <arg name="description_name"    default="robot_description"/>
  <arg name="description_file"    default="/path/to/awesome/description.urdf"/>


  <!-- textfile containing the robot's urdf model -->
  <param name="$(arg description_name)" textfile="$(arg description_file)" />
  <!-- joint state publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <!-- robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <!-- visualization -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find arco_ros_utils_launch)/cfg/urdf.rviz" respawn="true" />

</launch>
